.wrap{
    width: 1200px;
    margin: 20px auto;
    padding: 15px;
    box-sizing: border-box;
}
.btn-1{
    width: 100px;
    height: 20px;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 5px;
    float: left;
    margin-top: 25px;
    margin-left: 0;
}
.btn-2{
    width: 100px;
    height: 20px;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 5px;
    float: left;
    margin-top: 80px;
    margin-left: -150px;
}
.btn-3{
    width: 100px;
    height: 20px;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 5px;
    float: left;
    margin-top: 140px;
    margin-left: -150px;
}
.btn-4{
    width: 100px;
    height: 20px;
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 5px;
    float: left;
    margin-top: -220px;
    margin-left: 500px; 
}
.btn-5{
    width: 100px;
    height: 20px;
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 5px;
    float: left;
    margin-top: -160px;
    margin-left: 500px; 
}
.btn-6{
    width: 100px;
    height: 20px;
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 5px;
    float: left;
    margin-top: -100px;
    margin-left: 500px; 
}
.box{
    text-align: center;
}
.btn{
    width: 120px;
    height: 15px;
    color: grey;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid;
    margin-left: 10px;
    border-radius: 3px;
    border-top: -10px;
}
.clear{
    clear: both;
}